//colors
$reallylight: #fefcf6;
$verylight: #faf3e0;
$alsolight: #e3e8de;
$light: #eabf9f;
$dark: #b68973;
$darkest: #1e212d;

// $verylight: #c8c6a7;
// $light: #92967d;
// $dark: #6e7c7c;
// $darkest: #435560;

// $verylight: #f0b49e;
// $light: #b38184;
// $dark: #73626e;
// $darkest: #413e4a;
